<h1>Biblioteca Municipal</h1>
<h2>Actualizar Registro de Alumno</h2>

<form class="form-group" method="POST" action="/save-student">
    <input type="hidden" name="_id" value="{{_id}}"
    <label for="name">Nombre</label>
    <input type="text" name="name" value="{{name}}" class="form-input" placeholder="Informar nombre" />

    <label for="surname">Apellido</label>
    <input type="text" name="surname" value="{{surname}}" class="form-input" placeholder="Informar apellido" />

    <label for="age">Edad</label>
    <input type="number" name="age" value="{{age}}" class="form-input" placeholder="Informar edad" />

    <input type="submit" class="btn btn-primary" value="Grabar" />
</form>

