
<h1>Biblioteca Municipal</h1>
<h2>Registro Alumno</h2>

<form class="form-group" method="POST" action="/save-student">
    <label for="name">Nombre</label>
    <input type="text" name="name" class="form-input" placeholder="Informar nombre" />

    <label for="surname">Apellido</label>
    <input type="text" name="surname" class="form-input" placeholder="Informar apellido" />

    <label for="age">Edad</label>
    <input type="number" name="age" class="form-input" placeholder="Informar edad" />

    <input type="submit" class="btn btn-primary" value="Grabar" />
</form>
<br>
<a href="/listar">Listar Estudiantes</a>
